body {
  background: rgb(0, 0, 134);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.big-fact {
  font-size: 30px;
  margin-top: 200px;
  margin-bottom: 100px;
  padding: 0;
  text-align: center;
}

.facts {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.why-matters {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.what-to-do {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  font-size: 50px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

li {
  font-size: 20px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  background: black;
  color: white;
  padding: 10px 20px;
}

#canvas {
  background: black;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  display: block;
}
