body {
  background: rgb(0, 0, 134);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 70px;
  text-align: center;
}

.big-fact {
  background-image: url(images/wasteOnBeach.jpg);
  background-position: top;
  background-size: 100%;
  font-size: 30px;
  font-weight: bold;
  height: 400px;
  margin: 0;
  padding-top: 200px;
  text-align: center;
  text-shadow: -3px 3px black;
}

.facts {
  background-color: black;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.why-matters {
  background-color: rgb(54, 54, 54);
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

.what-to-do {
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

h2 {
  font-size: 50px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
  text-align: center;
}

li {
  font-size: 20px;
  margin: 0;
  padding-top: 50px;
  padding-bottom: 50px;
}

footer {
  background: black;
  color: white;
  padding: 10px 20px;
}

.game-button {
  text-align: right;
}

#canvas {
  background: black;
  padding-left: 0;
  padding-right: 0;
  margin: auto;
  display: block;
}
